.review-card {
    border: 1px solid #4e9f3d;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.reviewer-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #4e9f3d;
}

.logo {
    font-size: 1.3rem;
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #3f3351;
}

.review-card > P {
    color: white;
    padding-left: 3rem;
    margin-top: 0.5rem;
}

.review-btns {
    padding-left: 3rem;
    margin-top: 1rem;
}

.review-btns button {
    background: none;
    color: white;
    margin-right: 0.5rem;
    font-size: 1rem;
}
